In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("F:/Python DS/db/RidingMowers.csv")
df

     Income  Lot_Size    Response
0        34        26  Not Bought
1        34        40  Not Bought
2        34        46  Not Bought
3        34        48  Not Bought
4        34        53  Not Bought
..      ...       ...         ...
175      86       121      Bought
176      87       109      Bought
177      88       119      Bought
178      89       110      Bought
179      89       124      Bought

[180 rows x 3 columns]

In [3]:
new_point = pd.Series([36, 42], index =["Income", "Lot_Size"])
new_point
k=3
a=[]
l=df.drop('Response', axis=1)

In [4]:
for i in range(180):
    s=(new_point['Income']-l.iloc[[i]]['Income'])**2
    t=(new_point['Lot_Size']-l.iloc[[i]]['Lot_Size'])**2
    c=s+t
    x=np.sqrt(int(c))
    a.append(x)
print(a)

[16.1245154965971, 2.8284271247461903, 4.47213595499958, 6.324555320336759, 11.180339887498949, 16.1245154965971, 17.11724276862369, 21.095023109728988, 22.090722034374522, 24.08318915758459, 1.4142135623730951, 2.23606797749979, 24.020824298928627, 3.0, 19.0, 15.033296378372908, 3.1622776601683795, 1.0, 4.123105625617661, 7.0710678118654755, 9.055385138137417, 19.026297590440446, 34.0147027033899, 13.152946437965905, 2.23606797749979, 23.08679276123039, 31.064449134018133, 37.05401462729781, 10.44030650891055, 11.40175425099138, 19.4164878389476, 24.331050121192877, 13.0, 17.08800749063506, 12.529964086141668, 7.810249675906654, 6.708203932499369, 6.082762530298219, 14.317821063276353, 24.73863375370596, 36.49657518178932, 35.6931365951495, 13.601470508735444, 8.06225774829855, 10.0, 21.540659228538015, 12.041594578792296, 9.486832980505138, 18.35755975068582, 23.259406699226016, 23.259406699226016, 12.529964086141668, 11.40175425099138, 13.601470508735444, 14.212670403551895, 38.600518131237564, 23.323807579381203, 21.633307652783937, 20.0, 16.97056274847714, 26.832815729997478, 33.24154027718932, 33.24154027718932, 17.69180601295413, 14.317821063276353, 13.92838827718412, 13.152946437965905, 24.413111231467404, 21.2602916254693, 18.439088914585774, 22.80350850198276, 23.430749027719962, 19.849433241279208, 20.0, 18.35755975068582, 40.311288741492746, 31.906112267087632, 34.48187929913333, 19.313207915827967, 18.973665961010276, 22.20360331117452, 29.068883707497267, 19.924858845171276, 19.235384061671343, 25.495097567963924, 32.202484376209235, 39.824615503479755, 24.413111231467404, 22.360679774997898, 20.396078054371138, 20.09975124224178, 33.60059523282288, 42.05948168962618, 22.135943621178654, 21.213203435596427, 28.319604517012593, 39.96248240537617, 41.677331968349414, 23.345235059857504, 28.0178514522438, 33.24154027718932, 35.4682957019364, 37.013511046643494, 31.240998703626616, 25.0, 38.41874542459709, 25.96150997149434, 43.93176527297759, 62.177166226839255, 41.036569057366385, 62.64982043070834, 68.87670143089025, 71.58910531638176, 87.31551981177229, 44.553338819890925, 63.13477647065839, 79.30952023559341, 58.52349955359813, 50.32891812864648, 56.61271941887264, 80.11242100947892, 85.61541917201598, 86.53900854527974, 49.51767361255979, 50.24937810560445, 53.2634959423431, 54.037024344425184, 50.20956084253277, 81.85963596303125, 58.412327466040935, 82.29216244576394, 82.29216244576394, 84.09518416651456, 47.634021455258214, 51.62363799656123, 70.49113419430843, 73.06161783043132, 78.29431652425353, 89.96110270555825, 51.66236541235796, 67.67569726275453, 74.43117626371358, 68.24221567329127, 81.88406438373708, 79.75587752636166, 82.365041127896, 67.80117993073571, 89.00561780022652, 55.31726674375732, 57.3149195236284, 72.42237223399962, 80.77747210701756, 60.108235708594876, 75.45197147855052, 75.45197147855052, 78.77182237323191, 55.0, 60.8276253029822, 72.80109889280519, 61.61980201201558, 75.6042326857432, 76.40026177965623, 77.20103626247513, 56.302753041036986, 59.20304046246274, 65.76473218982953, 94.51454914456292, 65.11528238439882, 70.03570517957252, 80.80222769206304, 56.43580423808985, 59.07622195096772, 89.58794561770016, 92.11405973031478, 82.80096617793781, 93.49331526906082, 84.20213774008353, 92.91393867445294, 86.21484790916237, 97.63708311906906]

In [5]:
ndf = pd.DataFrame(a)
ndf

             0
0    16.124515
1     2.828427
2     4.472136
3     6.324555
4    11.180340
..         ...
175  93.493315
176  84.202138
177  92.913939
178  86.214848
179  97.637083

[180 rows x 1 columns]

In [6]:
a = ndf.sort_values(by =0, ascending = 1)
a

             0
17    1.000000
10    1.414214
11    2.236068
24    2.236068
1     2.828427
..         ...
173  92.114060
177  92.913939
175  93.493315
166  94.514549
179  97.637083

[180 rows x 1 columns]

In [7]:
nearest = a.head(k)
index = nearest.index
index

Int64Index([17, 10, 11], dtype='int64')

In [8]:
bought, n_Bought =0,0
for i in index:
    response = df.iloc[i]['Response']
    if response == 'Bought':
        bought+=1
    else:
        n_Bought+=1
        
if bought>=n_Bought:
    print("Cx has high chance on 'buying!'")
else:
    print("Cx has high chance on 'not buying!'")

Cx has high chance on 'not buying!'